a{
  text-decoration: none;
  color: red;
}
a:hover{
  filter: invert(100);
  text-decoration: underline;
}
a:active{
  color:orange;
  text-decoration: none;
}
a:visited{
  color: green;
  text-decoration: none;
}
a:focus{
  color:blue;
  text-decoration: underline;
}