table th{
  width: 10em;
}
tr:nth-of-type(1){
  color: teal;
}
tr:nth-of-type(2){
  color: orange;
}
tr:nth-of-type(3){
  color: blue;
}
tr:nth-of-type(4){
  color: red;
}
tr:nth-of-type(5){
  color: purple;
}
tr:nth-of-type(6){
  color: olive;
}
tr:nth-of-type(7){
  color: brown;
}
tr:nth-of-type(8){
  color: green;
}
td:nth-of-type(1){
  background-color: #ffef7e;
}
td:nth-of-type(2){
  background-color: #8bfe7b;
}
td:nth-of-type(3){
  background-color: #7bfffd;
}
td:nth-of-type(4){
  background-color: #eb7bfb;
}